h1 {
    font-family: 'Poppins';
    font-size: 93px;
    letter-spacing: -1.5px;
    font-weight: 300;
}

h2 {
    font-family: 'Poppins';
    font-size: 58px;
    letter-spacing: -0.5px;
    font-weight: 300;
}

h3 {
    font-family: 'Poppins';
    font-size: 46px;
    letter-spacing: 0;
    font-weight: 400;
}

h4 {
    font-family: 'Poppins';
    font-size: 33px;
    letter-spacing: 0.25px;
    font-weight: 400;
}

h5 {
    font-family: 'Poppins';
    font-size: 23px;
    letter-spacing: 0px;
    font-weight: 400;
}

h6 {
    font-family: 'Poppins';
    font-size: 19px;
    letter-spacing: 0.15px;
    font-weight: 500;
}

.subtitle1 {
    font-family: 'Poppins';
    font-size: 15px;
    letter-spacing: 0.15px;
    font-weight: 400;
}

.subtitle2 {
    font-family: 'Poppins';
    font-size: 13px;
    letter-spacing: 0.1px;
    font-weight: 500;
}

.body1 {
    font-family: 'OpenSans';
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 400;
}

.body2 {
    font-family: 'OpenSans';
    font-size: 14px;
    letter-spacing: 0.25px;
    font-weight: 400;
}

.button {
    font-family: 'OpenSans';
    font-size: 14px;
    letter-spacing: 1.25px;
    font-weight: 500;
}

.caption {
    font-family: 'OpenSans';
    font-size: 12px;
    letter-spacing: 0.4px;
    font-weight: 400;
}

.overline {
    font-family: 'OpenSans';
    font-size: 10px;
    letter-spacing: 1.5px;
    font-weight: 400;
}

.bebasneuebold {
    font-family: 'Bebas Neue';
    font-size: 19px;
    letter-spacing: 0.15px;
    font-weight: 500;
}